<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- https://docs.spring.io/spring-framework/reference/core/beans/factory-scopes.html
    possible values for scope:
    singleton  (default)
    prototype
    -->
    <bean class="javaworkshop.petclinic.web.OwnerController" scope="singleton">
        <constructor-arg><ref bean="ownerService"/></constructor-arg>
        <property name="defaultFirstName"><value>Jane</value></property>
    </bean>
    <bean id="ownerService" class="javaworkshop.petclinic.service.OwnerService">
        <constructor-arg><ref bean="ownerRepository"/></constructor-arg>
    </bean>
    <bean id="ownerRepository" class="javaworkshop.petclinic.data.OwnerRepository">
        <constructor-arg><ref bean="database"/></constructor-arg>
    </bean>
    <bean id="database" class="javaworkshop.petclinic.data.Database" factory-method="getInstance" />

</beans>
